html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--white-contrast);
    box-shadow: 0 -1px 10px inset;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: inline-block;
}

.header>p {
    margin-top: 0;
    text-align: right;
    font-family: monospace;
    position: relative;
    right: -1em;
}

.header>p>span {
    font-weight: 700;
    color: blue;
}

/* -------------------- MAIN -------------------- */

main {
    resize: vertical;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#stickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.stick-header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: #ffffff;
    font-family: monospace;
    font-size: 1.3em;
}

.stick-cell {
    display: inline-block;
    width: 50%;
}

.stick-cell-left {
    text-align: right;
}

.stick-cell-left-h {
    padding-right: 4.6em;
}

.stick-cell-right-h {
    padding-left: 4.6em;
}

.single-row {
    display: flex;
    border: solid inherit;
    border-width: 1px 0 1px 0;
}

.single-row:hover {
    background-color: rgb(252, 216, 150);
    border: solid var(--border-color);
    border-width: 1px 0 1px 0;
}

.cell {
    min-height: 50px;
    display: inline-block;
    width: 48%;
}

.cell>p {
    display: inline-block;
    max-width: 67%;
}

.cell-left {
    text-align: right;
    padding-right: 1.3em;
}

.cell-right {
    text-align: left;
    padding-left: 1.3em;
}

.middle-cell {
    height: inherit;
    width: 3%;
    /*
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);*/
    padding-left: 1.3em;
    padding-right: 1.3em;
    font-weight: 500;
}

.middle-cell>p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
}

.school-titre {
    font-weight: 400;
}

/* -------------------- FOOTER -------------------- */

footer {
    border-top: 1px solid var(--border-color);
    background-color: var(--white-contrast);
    display: flex;
    justify-content: space-between;
}

footer>p {
    margin-left: 1em;
}
footer>a {
    margin-right: 1em;
    margin-top: 1em;
    height: 2.5em;
}

/* -------------------- OTHER ELEMENTS -------------------- */

.arrow {
    border: solid var(--border-color);
    border-width: 0 9px 9px 0;
    display: inline-block;
    padding: 13px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 0;
}