html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  cursor: context-menu;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  position: relative;
  background-image: url("../assets/main-background-image.png");
}

/* -------------------- SIDEBAR -------------------- */

.vertical-bar-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: var(--background-dark-gray);
  border-right: 1px solid var(--border-color);
  padding: 2.4em 0 2.4em 0;
  color: var(--color-text-light);
  font-size: 1.2em;
  overflow-x: hidden;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.vertical-bar-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white-contrast);
  display: block;
  transition: 0.3s;
}

.vertical-bar-menu a:nth-child(n+2) {
  padding-left: 2em;
}

.vertical-bar-menu a:hover {
  text-shadow: 1px 1px 5px var(--text-shadow);
}

.vertical-bar-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hidden-menu-item, .hidden-menu-item2 {
  height: 2em;
  overflow-y: hidden;
  transition: height 1.4s;
}

.hidden-menu-item:hover, .hidden-menu-item2:hover {
  height: 5em;
}

.hidden-menu-item2:hover {
  height: 7.5em;
}

.menu-list-icon {
  display: flex;
  box-shadow: -1px -3px 10px black;
  z-index: 101;
  position: fixed;
  top: 190px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: box-shadow .3s;
  transition: transform .3s;
}

.menu-list-icon:hover {
  cursor: pointer;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.menu-list-icon>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 6px;
  border: 2px solid rgb(46, 45, 45);
}

.menu-list-row {
  width: 80%;
  padding: .2em;
  display: flex;
  justify-content: space-between;
}

.menu-design-size {
  height: 4px;
  background-color: rgb(46, 45, 45);
}

.menu-list-point {
  width: 4px;
}

.menu-list-line {
  width: 24px;
}

/* -------------------- HEADER -------------------- */

#header-content {
  display: none;
}

header {
  height: 104px;
}

.about-me {
  height: 0;
  overflow-y: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: height 1.4s;
}

.about-me>p {
  width: 44%;
  margin: 0 auto;
  padding: 1em 1.3em;
  background: white;
  border-radius: 15px;
  line-height: 1.6;
}

header:hover~#about-me, #about-me:hover {
  height: 16em;
}

/* If the CSS style of header build in html is commented,
this is mean that the header of page is made by background-image:
"main-background-image.png"*/

/*
header {
    background-color: var(--white-contrast);
    box-shadow: 0 -1px 10px inset;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: inline-block;
}

.header>p {
    margin-top: 0;
    text-align: right;
    font-family: monospace;
    position: relative;
    right: -1em;
}

.header>p>span {
    font-weight: 700;
    color: blue;
}*/

/* -------------------- MAIN -------------------- */

main {
  resize: vertical;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.stick-header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-dark-gray);
  color: var(--white-contrast);
  font-size: 1.3em;
}

.stick-cell {
  display: inline-block;
  width: 50%;
}

.stick-cell-left {
  text-align: right;
}

.stick-cell-left-h {
  padding-right: 4.6em;
}

.stick-cell-right-h {
  padding-left: 4.6em;
}

.single-row {
  display: flex;
  background-color: white;
  border: solid white;
  border-width: 1px 0 1px 0;
}

.single-row:hover {
  background-color: var(--background-on-hover);
  border: solid var(--border-color);
  border-width: 1px 0 1px 0;
}

.cell {
  min-height: 50px;
  display: inline-block;
  width: 48%;
}

.cell>p {
  display: inline-block;
  max-width: 67%;
}

.cell-left {
  text-align: right;
  padding-right: 1.3em;
}

.cell-right {
  text-align: left;
  padding-left: 1.3em;
}

.middle-cell {
  height: inherit;
  width: 3%;
  /*
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);*/
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-weight: 500;
}

.middle-cell>p {
  text-align: center;
}

.middle-cell-ancor {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.school-titre {
  font-weight: 400;
}

hr {
  height: 1px;
  background: blue;
  border: none;
}

/* -------------------- FOOTER -------------------- */

footer {
  border-top: 1px solid var(--border-color);
  background-color: var(--white-contrast);
  display: flex;
  justify-content: space-between;
}

footer>p {
  margin-left: 1em;
}

footer>a {
  margin-right: 1em;
  margin-top: 1em;
  height: 2.5em;
}

/* -------------------- OTHER ELEMENTS -------------------- */

.arrow {
  border: solid var(--border-color);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 0;
}

/* ------------------ MEDIA SCREEN ------------------ */

@media (max-width: 767px) {
  body {
    background-image: none;
  }
  #header-content {
    display: inline-block;
  }
  header {
    height: initial;
    text-align: center;
    background-color: var(--white-contrast);
    box-shadow: 0 -1px 10px inset;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h1 {
    margin: 0;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
  }
  .header {
    display: inline-block;
    text-align: right;
    height: 0;
  }
  .header>p {
    margin-top: 0;
    text-align: right;
    font-family: monospace;
    position: relative;
    right: -1em;
  }
  .header>p>span {
    font-weight: 700;
    color: blue;
  }
  .menu-list-icon {
    top: initial;
    left: initial;
    bottom: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
  }

  .single-row {
    display: block;
    background-color: white;
    border: solid white;
    border-width: 1px 0 1px 0;
  }

  .single-row:nth-child(odd) {
    background-color: var(--background-on-hover);
    border: solid var(--border-color);
    border-width: 1px 0 1px 0;
  }

  .stick-cell-left-h, .stick-cell-right-h {
    margin: 0;
    font-size: 1em;
    padding: 0;
  }
}